html {
  font-size: $fontSize;
  color: $textColor;
  font-family: "Open Sans", Georgia, "Times New Roman", Times, serif;
  background: $background-color;
  text-align: center;
}

.logo {
  margin: 10%;
}

.loading {
  display: none;
}

.dropdown {
  width: 120px;
  height: 50px;
  font-size: $fontSize;
}

.dropdownArea {
  height: 100%;
}

.content-grid {
  display: grid;
  grid-template-columns: auto;
  background-color: $background-color;
}

.text-box {
  background: $textBackgroundTransparency;
  text-align: left;
  height: 35%;
  opacity: 0;
  transition: 1s all;
}

a {
  text-decoration: none;
  color: $textColor;
}

.content-cell:hover .text-box {
  opacity: 1;
  display: flex;
}

/*Desktop Width*/
@media screen and (min-width: 600px) {
  .content-grid {
    grid-template-columns: auto auto auto;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
