html {
  font-size: $fontSize;
  color: $textColor;
  font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
  background: $background-color;
  text-align: center;
}

.loading {
  display: none;
  height: 50px;
  width: auto;
}

.language-dropdown-div {
  display: none;

  @include desktop() {
    display: block;
  }
}

.dropdown-div {
  align-items: center;
  top: 170px;
  justify-content: center;

  &--active {
    position: absolute;
    top: 80px;

    @include tablet() {
      position: relative;
      top: auto;
    }
  }
}

//Pushes the footer down before animation
.footer-bumper {
  height: 170px;

  @include tablet() {
    height: 300px;
  }

  @include desktop {
    height: 200px;
  }

  &--active {
    height: 0px;
  }
}

footer {
  color: $footer-text-color;

  @include desktop {
    width: 300px;
    padding-top: 50px;
  }
}

label {
  font-size: 0.9rem;
}

.dropdown-area {
  transition: 1s all ease-in-out;
  max-height: 100000px;
  max-width: 100000px;
  display: flex;
  flex-direction: column;

  @include tablet() {
    padding-top: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  @include desktop() {
    width: 500px;
  }

  .logo {
    transform-origin: top;
    transition: 0.3s all ease-in-out;
    scale: 1;
    padding: 70px 0px 10px 0px;

    @include tablet() {
      transform-origin: 0 0;
    }
  }

  &--active {
    flex-direction: column;
    max-height: 145px;
    max-width: 100%;
    align-items: center;

    @include tablet {
      width: auto;
      flex-direction: row;
      max-height: 90px;
      padding-top: 0px;
      width: 200px;
    }

    @include desktop() {
      width: 350px;
    }

    .logo {
      top: 0px;
      width: 100%;
      color: black;
      transform: scale(0.2);
      padding: 10px;

      @include tablet() {
        transform-origin: center;
        height: auto;
      }
    }
  }
}

.dropdowns {
  margin: 10px;
  width: 110px;
  height: 30px;
  font-size: $fontSize;
  background: #fff;
}

.content-grid {
  display: grid;
  grid-template-columns: auto;
  background-color: $background-color;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.content-cell {
  transition: 0.1s all ease-in-out;
  transition: 1s object-position ease-in-out;
  opacity: 1;
  overflow: hidden;
  object-fit: none;
  object-position: 50% 50%;

  &:hover {
    object-position: 100% 100%;
  }

  .text-box {
    background: $text-background-transparency;
    text-align: left;
    height: 35%;
    opacity: 1;
    transition: 1s all;
    width: 100%;

    p {
      text-overflow: ellipsis;
      /* Required for text-overflow to do anything */
      white-space: wrap;
      overflow: hidden;
      margin: 10px;
    }

    @include desktop {
      opacity: 0;
      display: flex;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

a {
  text-decoration: none;
  color: $textColor;
}

.content-cell:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 30px black;
  opacity: 1;
  border-radius: 10px;

  .text-box {
    opacity: 1;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}