html {
  font-size: $fontSize;
  color: $textColor;
  font-family: "Open Sans", Georgia, "Times New Roman", Times, serif;
  background: $background-color;
  text-align: center;
}

.loading {
  display: none;
}

.dropdown-area {
  transition: 1s all ease-in-out;
  max-height: 100000px;
  max-width: 100000px;
  display: flex;
  flex-direction: column;
  .logo {
    transition: 1s all ease-in-out;
    scale: 1;
  }
  &--active {
    flex-direction: row;
    max-height: 100px;
    max-width: 100%;
    justify-content: flex-start;
    align-items: center;
    .logo {
      color: black;
      transform: scale(0.2);
    }
  }
}

.dropdowns {
  margin: 10px;
  width: 110px;
  height: 30px;
  font-size: $fontSize;
}

.content-grid {
  display: grid;
  grid-template-columns: auto;
  background-color: $background-color;
}
.content-cell {
  transition: 0.1s all ease-in-out;
  opacity: 1;
  overflow: hidden;
}
.text-box {
  background: $textBackgroundTransparency;
  text-align: left;
  height: 35%;
  opacity: 0;
  transition: 1s all;
  width: 100%;
  p {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: wrap;
    overflow: hidden;
    margin: 10px;
  }
}

a {
  text-decoration: none;
  color: $textColor;
}

.content-cell:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 30px black;
  opacity: 1;
  border-radius: 10px;
  .text-box {
    opacity: 1;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

/*Desktop Width*/
@media screen and (min-width: 600px) {
  .content-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
